<h1>
    Confirmation d'Email
</h1>
<p>
    E-CarNet vous remercie pour le confirmation de votre email. S'il vous plait <a asp-controller="Account" asp-action="Login">Click içi pour connecter</a>.
</p>
